# Overview
## 1. Mathematical Operations

- **Addition (`+`):** Adds values together

In [2]:
x = 3 + 2
x

5

- **Subtraction (`-`):** Subtracts values

In [6]:
5-2

3

**Note:** You can assign variables like we did with `x` or you can simply enter your equation and view the output.

- **Multiplication (`*`):** Multiplies values

In [9]:
4 * 2

8

- **Division (`/`):** divides numbers resulting in a float. If you want a integer use `//` for Floor Division.

In [14]:
x = 10 / 3
y = 10 // 3 

print(f'x is {x} a float\ny is {y} integer')

x is 3.3333333333333335 a float
y is 3 integer

- **Modulus (%`):** Returns the remainder of a division

In [17]:
10 % 3

1

- **Exponentiation (`**`):** Raises one number to the power of another

In [22]:
2 ** 3

8

## 2. String Operations

### String Concatenation
Combining two or more strings uising the `+` operator

In [26]:
greeting = "Hello"
name = "Alice"
message = greeting + ", " + name + "!"
print(message)

Hello, Alice!

### String Formatting
Using formatted string literals (f-strings) to embed expressions inside string literals. We used an example of this above in Division.

In [72]:
value = 5
print(f'Hello, the value is {value}') #short hand
print('Hello, the value is {}'.format(value)) #long hand

Hello, the value is 5
Hello, the value is 5

### String Methods
- **Change Case:** `str.lower()` converts string to lowercase, `str.upper()` to upper case, and `str.capitalize()` to first character of the stirng.

In [57]:
text = "hello world"
#print(text.lower()) #already lower case
print(text.upper())
print(text.capitalize())

HELLO WORLD
Hello world

- **Stripping Whitespace:** `str.strip() removed leading & trailing whitespace, `str.lstrip()` & `str.rstrip()` remove leading and trailing whitespaces respectivly

In [55]:
text = " hello world "
print("|",text.strip(),"|") #removes all whitespace
print("|",text.lstrip(),"|") #leading whitespace
print("|",text.rstrip(),"|") #tailing
#added in | to see the spacing

| hello world |
| hello world  |
|  hello world |

- **Find & Replace:** `str.find(sub)` returns the lowest index of substring if found while `str.replace(old,new)` will find and replace substring with new string.

In [62]:
text = "hello world"
print(text.find("world")) # h is the 0th index
print(text.replace("world", "Python"))

6
hello Python

- **Splitting & Joining:** `str.split(sep)` splits string on a specified separator and returns a list of substrings. `str.join(iterable)` joins a string with a separator.

In [65]:
text = "hello world"
words = text.split(" ") #split on spaces
print(words) #print list of words
sentence = " ".join(words) #join list of words with spaces
print(sentence) #result

['hello', 'world']
hello world

- **String Slicing:** Extracting a substring using slice notation

In [68]:
text = "hello world"
print(text[0:5]) #hello
print(text[6:]) #world
print(text[-5:]) #last 5 elements ie world again

hello
world
world

## 3. List Operations 

### Creating a list

List are similar to strings in the way you can access their index. In addion, you can `append()`, `insert()`, `pop()`, and apply other useful operations to your string. Let's look at a few:

In [84]:
my_list = [1,2,3,4,5]

# Viewing
print("print index 0 of list", my_list[0]) # print index 0 of list
print("first 3 elements",my_list[:3]) # first 3 elements

#operations
my_list.append(6) # adds 6 to the end of list
print("Adds 6 to the end of list",my_list)

my_list.insert(2, 'a') # insert an element at a specific postion
print("Insert an element at a specific postion",my_list)

my_list.extend([7,8,9]) # Extend the list by appending elements
print("Extend the list by appending elements",my_list)

my_list.remove('a') # remove the first occurrence of an elemnet
print("Remove the first occurrence of an elemnet",my_list)

print index 0 of list 1
first 3 elements [1, 2, 3]
Adds 6 to the end of list [1, 2, 3, 4, 5, 6]
Insert an element at a specific postion [1, 2, 'a', 3, 4, 5, 6]
Extend the list by appending elements [1, 2, 'a', 3, 4, 5, 6, 7, 8, 9]
Remove the first occurrence of an elemnet [1, 2, 3, 4, 5, 6, 7, 8, 9]

### Other Useful Methods
`Sort` the list in ascending order (or descending with `reverse=True`), Reverse the elements of the list in place, and Count the occurrences of an element.

In [93]:
my_list.sort() #sort
print("Sort",my_list)

my_list.sort(reverse=True) #reverse
print("Reverse",my_list)

index = my_list.index(5) #find
print("5th index is",index) 

count = my_list.count(2) #count how many 2s there are
print(f'there are {count}x 2s in your list')

Sort [1, 2, 3, 4, 5, 6, 7, 8, 9]
Reverse [9, 8, 7, 6, 5, 4, 3, 2, 1]
5th index is 4
there are 1x 2s in your list

### Nesting

Consider a 3x3 matrix. Using nested lists, we can represent this matrix in Python:

In [96]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Accessing elements
print(matrix[0][0])  # Output: 1
print(matrix[1][2])  # Output: 6

1
6